@import "tailwindcss";

@theme{
  --color-primary: #122b39;
  --color-primary-dark: #0e1f26;
  --color-primary-dark-2: #0b161c;
  --color-primary-dark-3: #081012;
  --color-primary-light: #1c3e4e;
  --color-primary-light-2: #2a4d5c;
  --color-primary-light-3: #3b5b6e;

  --color-accent: #748fb9;

  --color-background: #081012;
  --color-background-light: #0b161c;
  --color-background-light-2: #0e1f26;
  --color-background-light-3: #1c3e4e;
  --color-background-dark: #061017;
  --color-background-dark-2: #040b0f;
  --color-background-dark-3: #020507;

}

body {
  @apply bg-primary;
  color: white;
}